<div class="container mt-5">
  <div class="row">
    <h2>Employees</h2>
    <hr>
    <div class="col text-right mb-3">
      <a routerLink="/employee/create" class="btn btn-success btn-sm">Create New</a>
    </div>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Person</th>
          <th scope="col">Employee Number</th>
          <th scope="col">Employee Date</th>
          <th scope="col">Terminate Date</th>
          <th scope="col">Person</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{employee.EmployeeId}}</td>
          <td>{{employee.PersonId}}</td>
          <td>{{employee.EmployeeNum}}</td>
          <td>{{employee.EmployeeDate}}</td>
          <td>{{employee.TerminatedDate}}</td>
          <td>{{employee.person.PersonId}}</td>
          <td>
            <a [routerLink]="['/employee/', employee.EmployeeId, 'details']" class="btn btn-info btn-sm">Details</a>
            <a [routerLink]="['/employee/', employee.EmployeeId, 'edit']" class="btn btn-info btn-sm">Update</a>
            <button type="button" (click)="deleteEmployee(employee.EmployeeId)"
              class="btn btn-info btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
