<p>create works!</p>
<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Create Employee</h3>
    </div>
    <div class="col text-right">
      <a [routerLink]="'/employee'" class="btn btn-secondary btn-sm">Back To Employee List</a>
    </div>
  </div>
  <br />
  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">

    <div class="form-group">
      <label for="EmployeeNum">Employee Number:</label>
      <input formControlName="EmployeeNum"  type="number" class="form-control" />
    </div>

    <div class="form-group">
      <label for="EmployeeDate">Employee Date:</label>
      <input formControlName="EmployeeDate" type="date" class="form-control" />
    </div>

    <div class="form-group">
      <label for="TerminatedDate">Terminated Date:</label>
      <input formControlName="TerminatedDate" type="date" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!createForm.valid">Create</button>
  </form>
</div>
