<div class="container">
    <br />
    <h3>Person Details</h3>
    <br />
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col text-right">
            <a [routerLink]="'/person'" class="btn btn-secondary btn-sm">Back To Person List</a>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Person Id:</b> {{ person.PersonId }}</li>
        <li class="list-group-item"><b>Last Name:</b> {{ person.LastName }}</li>
        <li class="list-group-item"><b>First Name:</b> {{ person.FirstName }}</li>
        <li class="list-group-item"><b>Birth Date:</b> {{ person.BirthDate }}</li>
      </ul>
    </div>
  </div>