<div class="container h-100 mt-5">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="card col-8">
      <div class="card-body">
        <h5 class="card-title">Welcome to ACME SOFT PTY LTD</h5>
        <p>An ASP.NET and Angular Fullstack CRUD application</p>
        <button type="button" class="btn btn-info" [routerLink]="'/person'">View Person</button>
        <button type="button" class="btn btn-warning ms-2" [routerLink]="'/employee'">View Employee</button>
      </div>
    </div>
  </div>
</div>
